<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper	namespace="com.ja.cbh.student.myclub.clubboard.mapper.ClubBoardSQLMapper">
	<select id="selectClubBoardListByClubNo"  resultType="com.ja.cbh.vo.Club_BoardVO">
		SELECT * FROM CBH_CLUB_BOARD
		<if test="searchWord != null">
			WHERE CLUB_BOARD_TITLE LIKE '%' || #{searchWord} || '%'
		</if>
		ORDER BY CLUB_BOARD_NO DESC
	</select>
	
	<!-- 특정 글의 데이터 가져오기 -->
	<select id="selectClubBoardByClubBoardNoAndClubNo" resultType="com.ja.cbh.vo.Club_BoardVO">
		SELECT * FROM CBH_CLUB_BOARD
		WHERE CLUB_BOARD_NO = #{clubBoardNo}
	</select>
	
	<!-- 컨텐트 페이지에서 이전 글 앞의글 데이터 따기 위한 것  -->
	<select id="selectClubBoardListForContentPageByClubNo" resultType="com.ja.cbh.vo.Club_BoardVO">
		SELECT * FROM CBH_CLUB_BOARD
	</select>
	
	<select id="selectClubBoardCountByClubNoAndSearchWord" resultType="int">
		SELECT count(*) FROM CBH_CLUB_BOARD
		<if test="searchWord != null">
			WHERE club_board_title like '%' || #{searchWord} || '%'
		</if>
	</select>
	
	
	<!-- 조회수 늘리기 -->
	<update id="updateClubBoardReadcountByClubBoardNo">
		UPDATE CBH_CLUB_BOARD
		SET CLUB_BOARD_READCOUNT = 1 + (SELECT CLUB_BOARD_READCOUNT FROM CBH_CLUB_BOARD WHERE CLUB_BOARD_NO = #{clubBoardNo})
		WHERE CLUB_Board_NO = #{clubBoardNo}
	</update>
	
	<!-- 클럽보드 이미지 갖고오기 -->
	<select id="selectClubBoardImageByClubBoardNoAndClubNo" resultType="com.ja.cbh.vo.Club_BoardImageVO">
		SELECT * FROM CBH_CLUB_BOARDIMAGE
		WHERE CLUB_BOARD_NO = #{clubBoardNo}
	</select>
	
	
	<!-- 작성하기 -->
	<insert id="insertClubBoardByClubBoardVO">
		INSERT INTO CBH_CLUB_Board VALUES(
		#{clubBoardVO.club_board_no},
		#{clubBoardVO.club_stud_no},
		1,
		#{clubBoardVO.club_board_title},
		#{clubBoardVO.club_board_content},
		0,
		SYSDATE
		)
	</insert>
	
	<!-- 활동 내역 수정 -->
	<update id="updateClubBoardByClubNoAndClubBoardNo">
		UPDATE CBH_CLUB_BOARD
		SET CLUB_board_CONTENT = #{clubBoardVO.club_board_content}, 
		    CLUB_board_TITLE = #{clubBoardVO.club_board_title}
		WHERE CLUB_board_NO = #{clubBoardVO.club_board_no}
	</update>
	
	<!-- 활동 내역 삭제 -->
	<delete id="deleteClubBoardByClubNoAndClubBoardNo">
		DELETE FROM CBH_CLUB_Board
		WHERE CLUB_BOARD_NO = #{clubBoardVO.club_board_no}
	</delete>
	
	<!-- clubStudNo가져오기 -->
	<select id="selectClubStudNoByStudId" resultType="int">
		SELECT CLUB_STUD_NO FROM CBH_CLUB_STUD
		WHERE STUD_ID = #{studId}
	</select>
	
	<!-- 학생정보 가져오기 -->
	<select id="selectStudByStudId" resultType="com.ja.cbh.vo.StudVO">
		SELECT * FROM CBH_STUD
		WHERE STUD_ID = #{studId}
	</select>
	
	<!-- 동아리 회원 정보 가져오기 -->
	<select id="selectClubStudByClubStudNo" resultType="com.ja.cbh.vo.Club_StudVO">
		SELECT * FROM CBH_CLUB_STUD
		WHERE ClUB_STUD_NO = #{clubStudNo}
	</select>
	
	<!-- boardNo생성하기 -->
	<select id="createClubBoardNo" resultType="int">
		SELECT cbh_club_board_seq.nextval FROM dual
	</select>
	
	<insert id="insertClubBoardImage">
		INSERT INTO CBH_CLUB_BOARDIMAGE VALUES(
			CBH_CLUB_BOARDIMAGE_SEQ.nextval,
			#{clubBoardImageVO.club_board_no},
			#{clubBoardImageVO.club_board_image_link}
		)
	</insert>
	
	<!-- 이미지 지우기 -->
	<delete id="deleteClubBoardimage">
		DELETE FROM CBH_CLUB_BOARDIMAGE
		WHERE CLUB_BOARD_NO = #{clubBoardNo}
	</delete>
	
	<!-- 댓글 작성 -->
	<insert id="insertClubBoardComment">
		INSERT INTO CBH_CLUB_BOARD_COMMENT VALUES(
			CBH_BOARD_COMMENT_seq.nextval,
			#{clubBoardCommentVO.club_board_no},
			#{clubBoardCommentVO.club_stud_no},
			1,
			#{clubBoardCommentVO.club_board_comment_content},
			SYSDATE
		)
	</insert>
	
	<!-- 댓글 가져오기 -->
	<select id="selectClubBoardCommentList_ByClubNoAndClubBoardNo" resultType="com.ja.cbh.vo.Club_BoardCommentVO">
		SELECT * FROM CBH_CLUB_BOARD_COMMENT
		WHERE club_board_no = #{clubBoardNo}
	</select>
	
	<delete id="deleteClubBoardCommentBy3No">
		DELETE FROM CBH_CLUB_BOARD_COMMENT
		WHERE CLUB_BOARD_NO = #{clubBoardCommentVO.club_board_no}
		AND CLUB_BOARD_COMMENT_NO = #{clubBoardCommentVO.club_board_comment_no}
	</delete>
	
	<!-- 댓글 수정 -->
	<update id="updateClubBoardCommentBy3No">
		UPDATE CBH_CLUB_BOARD_COMMENT 
		SET CLUB_BOARD_COMMENT_CONTENT = #{clubBoardCommentVO.club_board_comment_content}
		WHERE CLUB_BOARD_NO = ${clubBoardCommentVO.club_board_no}
		AND CLUB_BOARD_COMMENT_NO = ${clubBoardCommentVO.club_board_comment_no}
	</update>
</mapper>