<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ja.cbh.student.myclub.clubactivities.mapper.ClubActivitiesSQLMapper">
	
	<!-- 모든 글 가져오기 -->
	<select id="selectClubActivitiesListByClubNo" resultType="com.ja.cbh.vo.Club_ActVO">
		SELECT * FROM CBH_CLUB_ACT
		<if test="searchWord != null">
			WHERE CLUB_ACT_TITLE LIKE '%' || #{searchWord} || '%'
		</if>
		 ORDER BY CLUB_ACT_NO DESC
	</select>
	
	<!-- 특정 글의 데이터 가져오기 -->
	<select id="selectClubActivityByClubActNoAndClubNo" resultType="com.ja.cbh.vo.Club_ActVO">
		SELECT * FROM CBH_CLUB_ACT
		WHERE CLUB_ACT_NO = #{clubActNo}
	</select>
	
	<!-- 조회수 늘리기 -->
	<update id="updateClubActivityReadcountByClubActNo">
		UPDATE CBH_CLUB_ACT 
		SET CLUB_READCOUNT = 1 + (SELECT CLUB_READCOUNT FROM CBH_CLUB_ACT WHERE CLUB_ACT_NO = #{clubActNo})
		WHERE CLUB_ACT_NO = #{clubActNo}
	</update>
	
	<!-- 컨텐트 페이지에서 이전 글 앞의글 데이터 따기 위한 것  -->
	<select id="selectClubActivitiesListForContentPageByClubActNo" resultType="com.ja.cbh.vo.Club_ActVO">
		SELECT * FROM CBH_CLUB_ACT
	</select>
	
	<select id="selectClubActivitiesCountByClubNoAndSearchWord" resultType="int">
		SELECT count(*) FROM CBH_CLUB_ACT
		<if test="searchWord != null">
			WHERE club_act_title like '%' || #{searchWord} || '%'
		</if>
	</select>
	
	<!-- 작성하기 -->
	<insert id="insertClubActivityByClubActVO">
		INSERT INTO CBH_CLUB_ACT VALUES(
		CBH_CLUB_ACT_seq.nextval,
		#{clubActVO.club_no},
		#{clubActVO.stud_id},
		#{clubActVO.club_act_content},
		SYSDATE,
		#{clubActVO.club_act_title},
		0
		)
	</insert>
	
	<!-- 활동 내역 수정 -->
	<update id="updateClubActivityByClubNoAndClubActNo">
		UPDATE CBH_CLUB_ACT
		SET CLUB_ACT_CONTENT = #{clubActVO.club_act_content}, 
		    CLUB_ACT_TITLE = #{clubActVO.club_act_title}
		WHERE CLUB_ACT_NO = #{clubActVO.club_act_no}
	</update>
	
	<!-- 활동 내역 삭제 -->
	<delete id="deleteClubActivityByClubNoAndClubActNo">
		DELETE FROM CBH_CLUB_ACT
		WHERE CLUB_ACT_NO = #{clubActVO.club_act_no}
	</delete>
</mapper>